footer.footer
    section.footer__wrapper
        div.footer__inner
            +layoutUlfooter('footer__wrapper--')
    section.footer__copyright 
        div.footer__copyright--wrap
            div.footer__copyright--div 
                a(href="#link")
                    span コーポレートサイト
                a(href="#link")
                    span 個人情報保護方針
            p.footer__copyright--p ©2020 Info Techno Asahi All Rights Reserved.
a(href='#backTop' id="backTop")
    span 
    span