header.header
    h1.header__h1 
        img(src='../images/ita_logo.png' alt="ロゴ")
        a(href="../index.html")
    div.header__wrapper 
        a(class="header__entry", href="#link") ENTRY
        div.header__button
            span 
            span 
            span 
    nav.header__nav
        div.header__menu
            +layoutUlfooter('header__menu--')
            a(class="header__menu--entry", href="#link")
