
include __mixin.pug

nav.header__nav
    div.header__menu
        +layoutUlMenu('Pick Ups', 'キーワードで知るエレマテック', 'トップメッセージ', '事業概要・会社概要', 'エレマテックの戦略', '広がる事業フィールド', 'クロストーク（中途採用[中堅]×新卒採用[若手]）')
        +layoutUlMenu('Interview', '社員インタビュー｜R.K.', '社員インタビュー｜K.I.', '社員インタビュー｜T.I.', '社員インタビュー｜Y.O.', '社員インタビュー｜Y.N.', '社員インタビュー｜R.C.', '社員インタビュー｜K.N.', '社員インタビュー｜S.K.')
        +layoutUlMenu('Recruit', '募集要項', 'イベント情報', '人財育成', '人事採用担当者メッセージ', '採用Q&A')