include includes/__mixin.pug
doctype html
html(lang="ja")
    head
        include includes/__meta.pug
        +css('../css/faq.css')
        +css('https://fonts.googleapis.com/css2?family=Oswald&display=swap')
        title task 13
    body
        include includes/__header.pug
        main 
            section.faq__background
                figure
                    img(src='../images/img_page6_bg.png')
                    p.faq__background--inner 
                        span 採用FAQ
                        span FAQ
            section.faq__questions
                +layoutQuestion('文系です。コンピュータの経験・資格等は必要ですか？')
                    p 入社に際しては、文理問わず、コンピュータの経験・資格も必要ありません。入社後3ヶ月間の新人講習と配属後のOJT教育により、システムスキルを基礎から身に付けられます。また、配属先では必ず育成担当者が付き、丁寧に教えてもらえます。 入社後最初の目標は「基本情報技術者試験」合格です。システム会社で働くこととなる皆さんにとって、情報処理資格の取得は非常に大切なことです。
                +layoutQuestion('研修について詳しく教えてください。')
                    p 入社に際しては、文理問わず、コンピュータの経験・資格も必要ありません。入社後3ヶ月間の新人講習と配属後のOJT教育により、システムスキルを基礎から身に付けられます。また、配属先では必ず育成担当者が付き、丁寧に教えてもらえます。 入社後最初の目標は「基本情報技術者試験」合格です。システム会社で働くこととなる皆さんにとって、情報処理資格の取得は非常に大切なことです。
                +layoutQuestion('朝日生命グループ以外の仕事はありますか？')
                    p 入社に際しては、文理問わず、コンピュータの経験・資格も必要ありません。入社後3ヶ月間の新人講習と配属後のOJT教育により、システムスキルを基礎から身に付けられます。また、配属先では必ず育成担当者が付き、丁寧に教えてもらえます。 入社後最初の目標は「基本情報技術者試験」合格です。システム会社で働くこととなる皆さんにとって、情報処理資格の取得は非常に大切なことです。
                +layoutQuestion('休暇制度はどのようになっていますか？')
                    p 入社に際しては、文理問わず、コンピュータの経験・資格も必要ありません。入社後3ヶ月間の新人講習と配属後のOJT教育により、システムスキルを基礎から身に付けられます。また、配属先では必ず育成担当者が付き、丁寧に教えてもらえます。 入社後最初の目標は「基本情報技術者試験」合格です。システム会社で働くこととなる皆さんにとって、情報処理資格の取得は非常に大切なことです。
                +layoutQuestion('職場の雰囲気はどのような感じですか？')
                    p 入社に際しては、文理問わず、コンピュータの経験・資格も必要ありません。入社後3ヶ月間の新人講習と配属後のOJT教育により、システムスキルを基礎から身に付けられます。また、配属先では必ず育成担当者が付き、丁寧に教えてもらえます。 入社後最初の目標は「基本情報技術者試験」合格です。システム会社で働くこととなる皆さんにとって、情報処理資格の取得は非常に大切なことです。
                +layoutQuestion('平均年齢はどのくらいですか？')
                    p 入社に際しては、文理問わず、コンピュータの経験・資格も必要ありません。入社後3ヶ月間の新人講習と配属後のOJT教育により、システムスキルを基礎から身に付けられます。また、配属先では必ず育成担当者が付き、丁寧に教えてもらえます。 入社後最初の目標は「基本情報技術者試験」合格です。システム会社で働くこととなる皆さんにとって、情報処理資格の取得は非常に大切なことです。
                +layoutQuestion('男女比はどれくらいですか？')
                    p 入社に際しては、文理問わず、コンピュータの経験・資格も必要ありません。入社後3ヶ月間の新人講習と配属後のOJT教育により、システムスキルを基礎から身に付けられます。また、配属先では必ず育成担当者が付き、丁寧に教えてもらえます。 入社後最初の目標は「基本情報技術者試験」合格です。システム会社で働くこととなる皆さんにとって、情報処理資格の取得は非常に大切なことです。
                +layoutQuestion('結婚・出産しても仕事は続けられますか？')
                    p 入社に際しては、文理問わず、コンピュータの経験・資格も必要ありません。入社後3ヶ月間の新人講習と配属後のOJT教育により、システムスキルを基礎から身に付けられます。また、配属先では必ず育成担当者が付き、丁寧に教えてもらえます。 入社後最初の目標は「基本情報技術者試験」合格です。システム会社で働くこととなる皆さんにとって、情報処理資格の取得は非常に大切なことです。
                +layoutQuestion('残業はどのくらいありますか？')
                    p 入社に際しては、文理問わず、コンピュータの経験・資格も必要ありません。入社後3ヶ月間の新人講習と配属後のOJT教育により、システムスキルを基礎から身に付けられます。また、配属先では必ず育成担当者が付き、丁寧に教えてもらえます。 入社後最初の目標は「基本情報技術者試験」合格です。システム会社で働くこととなる皆さんにとって、情報処理資格の取得は非常に大切なことです。
                +layoutQuestion('配属はどのように決まりますか？')
                    p 入社に際しては、文理問わず、コンピュータの経験・資格も必要ありません。入社後3ヶ月間の新人講習と配属後のOJT教育により、システムスキルを基礎から身に付けられます。また、配属先では必ず育成担当者が付き、丁寧に教えてもらえます。 入社後最初の目標は「基本情報技術者試験」合格です。システム会社で働くこととなる皆さんにとって、情報処理資格の取得は非常に大切なことです。
                a(href="#link")
                    span ENTRY
        include includes/__footer.pug
        +script('../assets/js/jquery-2.2.4.min.js','../js/general.js', '../js/faq.js')
                